@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

// COLORS
$bg-body: #15161b;
$bg-input: #fffefe;
$bg-btn: #1a7993;
$bg-image: #1a7993;
$bg-cards: #2c2f37;
$color-icons: #fffdfd;
$white: white;
$black: black;

// FONTS
$font-l: 16px "Oswald";
$font-m: 14px "Oswald";
$font-s: 12px "Oswald";
$font-bold: 700;
$font-regular: 400;
